accelerate
altgraph
annotated-types
anyio
attrs
beautifulsoup4
bs4
certifi
cffi
charset-normalizer
colorama
diffusers
distro
et-xmlfile
fairscale
filelock
fire
fsspec
fuzzywuzzy
greenlet
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
Jinja2
joblib
Levenshtein
MarkupSafe
MouseInfo
mpmath
networkx
numpy
openai
openpyxl
outcome
packaging
pandas
pefile
pillow
psutil
PyAutoGUI
pycparser
pydantic
pydantic_core
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
PyMsgBox
PyPDF2
pyperclip
PyQt5
PyQt5-Qt5
PyQt5-sip
PyQtWebEngine
PyQtWebEngine-Qt5
PyRect
PyScreeze
PySocks
pystray
python-dateutil
python-Levenshtein
pytweening
pytz
pywin32
pywin32-ctypes
PyYAML
rapidfuzz
regex
requests
safetensors
scikit-learn
scipy
selenium
setuptools
six
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sympy
termcolor
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
trio
trio-websocket
typing_extensions
tzdata
urllib3
wheel
wsproto
xformers
zipp
